<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Conobil</title>
  </head>
  <body>
    <header>
       <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#"><%= image_tag('conobil.png', :size =>'134x36') %></a>
          <div id="Navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">オーダーする</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Conobilとは？</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">お問い合わせ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">生徒ログイン/初期登録</a>
              </li>
            </ul>
          </div>
        </nav> 
    </header>
    <div class="jumbotron jumbotron-extend">
      <div class="container-fluid jumbotron-container">
        <div class="row">
          <div class="col-md-12">
            <h1>
              どんな「やりたい」「知りたい」にも対応した<br>
              レッスンをオーダーできるサイト
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            </br> <!-- メッセージとボタンの間の空行 -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><a class="btn btn-primary btn-lg" href="#" role="button">新規登録する（無料）</a></p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row subheading-title">
        <div class="col-md-12" >
          <h2>
            オーダー手順
          </h2>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>